.contact {
    padding: 100px 15px;
    background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contact .row .title h1::before {
    left: 30%;
}

.contact-form {
    background-color: #007099;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 40px;
    border: 1.5px solid #020000;
    border-radius: 5px;
}

.contact-text {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.contact-text h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.contact-text p {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
}

.contact-form .row {
    flex-wrap: wrap;
}

.col-6 {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}

.col-6 input {
    border-radius: 5px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.form-control {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #000000;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;

}

.contact-form textarea.form-control {
    height: 120px;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #838383
}

.contact-form .button {
    flex: 0 0 100%;
    max-width: 100%;
    
}

.contact-form .btn a {
    background-color: #6bffdc;
    float: right;
    color: black;
}

.contact-form .btn a:hover {
    color: #fff;
    background-color: #01143e;
}

#get a{
border: 2px solid rgb(0, 0, 0);
}