.services {
  background: #c6b0ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c6b0ff,#c6b0ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c6b0ff, #c6b0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: 100px 15px 70px;
  
}

.services .container .row .title h1::before {
  left: 30%;
}

.service-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-bottom: 30px;
  border: 3px solid #000000;
  border-radius: 25px;
  padding: 30px;
  text-align: center;
  position: relative;
}

.box::before {
  content: "";
  height: 2px;
  background-color: #5f88e0;
  position: absolute;
  bottom: 0px;
  width: 50px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s ease;
}



.box .icon {
  height: 60px;
  width: 60px;
  background-color: #000000;
  margin: 15px auto 20px;
  border-radius: 50%;
}

.box .icon .fa {
  font-size: 25px;
  color: #ffffff;
  line-height: 60px;
}

.box .icon .fas {
  font-size: 25px;
  color: hsl(0, 0%, 100%);
  line-height: 60px;
}

.box h5 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.box p {
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
  color: #ffffff;
  margin: 5px 0 10px;
  font-weight: bold;
}

